.addBankList{
    width:100%;
    height:100%;
    background: #F8F8F8;
    .bankCardList{
        height:6rem;
        line-height: 6rem;
        vertical-align: middle;
        border-bottom:0.5px solid #eee;
    }
}
