.waitPaymentDetail{
    width:100%;
    height:100%;
    background: #F8F8F8;
    .chargeItem{
         width:100%;
         background: #fff;
         margin-top:1.1rem;
         padding-bottom:1.1rem;
         .charge-title{
             color:#8A9399;
             font-size:1.5rem;
             font-weight: 500;
             border-bottom:0.5px solid #F0F0F0;
             height:5rem;
             line-height: 5rem;
             margin-left:1.5rem;
         }
         .charge-content{
             width:90%;
             background: #FAFAFA;
             margin:0 auto;
             padding:1.2rem;
             margin-top:1.5rem;
             .charge-item{
                   display: flex;
                   line-height: 3rem;
                    div{
                     flex:1;
                     color:#1A2833;
                     font-size:1.3rem;
                     font-weight: 400;
                 }
             }
         }
         .subtotal{
             line-height: 5rem;
             padding-left:2.7rem;
             color:#1A2833;
             font-size:1.4rem;
             font-weight:500;
             span:last-child{
                 float:right;
                 padding-right:2.7rem;
             }
         }
    }
    .orderDetail{
        width:100%;
        background: #fff;
        margin-bottom:6rem;
    }
    .confirm-payment{
        width:100%;
        background: #fff;
        position: fixed;
        bottom:0;
        line-height: 6rem;
        div:first-child{
            float:left;
            padding-left:1.5rem;
            span:first-child{
             font-size:2.2rem;
              color:#FF7B31;
            }
           span:last-child{
               color:#8A9399;
               font-size:1.4rem;
           }
        }
        div:last-child{
            float:right;
        }
        .corfirmBtn{
            width:8.6rem;
            height:3rem;
            background:linear-gradient(132deg,rgba(255,175,130,1) 0%,rgba(255,123,49,1) 100%);
            border-radius:1.5rem;
            line-height: 3rem;
            text-align: center;
            color:#fff;
            margin-right:1.5rem;
            margin-top:1.5rem;
        }
    }
}
